.main{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  background-color:hsl(0, 3%, 79%);
}
.sub-main{
  display: flex;
  justify-content: center;
  height: 400px;
  width: 30%;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding: 30px;
  border-radius: 60px;
  background-color: white;
}
.imgs{

  justify-content: center;
  display: flex;
}
.container-imgs{
  background-color: rgb(207, 207, 207);
  border-radius: 100px;
  align-items: center;
  display: flex;
  height: 100px;
  width: 100px;
}
.profile{
  height: 120px;
  width: 120px;
  border-radius: 100px;
}
input{
  width: 280px;
  height: 35px;
  border-radius: 60px;
  box-shadow:inset 0px 0px 20px 0px gray;
  border: none;
  outline: none;
  background-color: #efefef;
}
.email{
  height: 23px;
  width: 23px;
  position: absolute;
  padding: 10px 0 0 18px;
}
.name{
  padding-left: 70px;
  font-size: 22px;
}
.second-input{
  padding-top: 20px;
}
button{
  width: 300px;
  height: 50px;
  border-radius: 60px;
  font-size: 21px;
  background-color: blueviolet;
  border: none;
  color: white;

}
.login-button{
  padding-top: 15px;
 
}
.link{
  font-size: 20px;
  font-weight: 400;
}
p{
  color: blue;
}